.website-button:hover {
box-shadow: 0 0 6px #00ffc3, 0 0 12px #00ffc3, 0 0 24px #00ffc3, 0 0 48px #00ffc3;
text-shadow: 0 0 6px #00ffc3, 0 0 12px #00ffc3, 0 0 24px #00ffc3;
}

.github-button:hover {
    box-shadow: 0 0 6px #00ffc3, 0 0 12px #00ffc3, 0 0 24px #00ffc3, 0 0 48px #00ffc3;
    text-shadow: 0 0 6px #00ffc3, 0 0 12px #00ffc3, 0 0 24px #00ffc3;
    }
  