.connect {
    position: absolute;
    right: 0;
    margin-bottom: 3%;
    padding: 10px; /* Optional: adds some spacing around the icons */
}

.social-link {
    margin: 0 10px;
    color: #000; /* Change to your preferred color */
    font-size: 24px;
    text-decoration: none;
}

.footer {
    background-color: #1a1a1a;
  }
  
  .social-link {
    color: #00ffc3;
    font-size: 1.5rem; /* Adjust icon size */
  }
  
  .social-link:hover {
    color: #fff; /* Adjust hover color */
  }
  
  .copyright {
    color: #00ffc3;
  }
  
